body {
  margin:0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  position: absolute;
  bottom: 64px;
  left : 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 16px;
}

.container button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  color: inherit;
  font: inherit;
}

.container button:not(:first-child) {
  margin-left: 16px;  
}

